@use 'variables' as *;

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Use focusable to make element visualy accessible */
@mixin focusable($color: $color-primary, $offset: $focus-offset, $border-radius: $border-radius) {
  outline: 0; /* Delete default gray border */
  position: relative;

  &:focus-visible::after {
    content: '';

    border: solid $focus-border-size $color;
    border-radius: ($border-radius + $offset) - 2px;
    outline: none;

    position: absolute;
    top: -$offset;
    bottom: -$offset;
    left: -$offset;
    right: -$offset;
  }
}

@mixin focusable-circle($color: $color-primary, $offset: $focus-offset) {
  /* Supprime le bord gris par défaut */
  outline: 0;
  position: relative;

  &:focus-visible::after {
    content: '';

    border: solid $focus-border-size $color;
    border-radius: 100%;
    outline: none;

    position: absolute;
    top: -$offset;
    bottom: -$offset;
    left: -$offset;
    right: -$offset;
  }
}

@mixin focusable-outline($color: $color-primary, $border-radius: $border-radius) {
  &:focus-visible {
    outline: solid $focus-border-size $color;
    border-radius: $border-radius;
    z-index: 1;
  }
}

@mixin focusable-inset($color: $color-primary, $width: $focus-border-size) {
  &:focus-visible {
    box-shadow: inset 0 0 0 $width $color;
  }
}

@mixin focusable-img($color: $color-primary, $offset: $focus-offset) {
  &:focus-visible {
    padding: $offset;

    border: solid $focus-border-size $color;
    border-radius: $offset;

    outline: none;
  }
}
