@use '../util/' as *;

.table {
  flex-grow: 1;
  border-collapse: collapse;
  text-align: left;

  &__thead &__row {
    margin-bottom: $table_gap;

    font-weight: bold;
    color: white;
    background-color: $color-primary;
  }
  &__tbody {
    display: flex;
    flex-direction: column;
    gap: $table_gap;
  }

  &__row {
    height: $table-row-height;
    padding: $table-row-padding;

    background-color: white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    font-size: 16px;
    overflow: hidden;

    display: flex;
    align-items: center;
    gap: $table_gap;
  }

  &__th, &__cell {
    @include ellipsis;
    flex: 1 1 0;
  }
}
